<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "MyCart", root_path, id: "logo" %>

		<nav>
			<ul class="nav navbar navbar-right">
				<li>
				<%= link_to "Create Product", new_product_path,class: "btn btn-default btn-md", id: "create-product-button" %>
				</li>
			</ul>
		</nav>

	</div>
</header>
