@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$white: #fff;

/* Header */
#logo{
	font-size: 1.7em;
	font-weight: bold;
	color: $white;
	text-transform: Uppercase;
	float: left;
	padding-top: 10px;
	&:hover{
		text-decoration: none;
	}
}
#create-product-button{
	margin-top: 10px;
}
.product_form {
	margin-top: 75px;
}

.form-submit-button {
	margin-top: 10px;
}

/* Side Bar*/
.sidebar{
	width: 20%;
	height: 600px;
	display: inline-block;
	vertical-align:top;
	background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    left: 0;	
}

.nav-sidebar {
  color: #333;
}

.category-list{
	margin-top: 20px;
	list-style: none;
	padding-top: 10px;
	font-size: 18px;
	text-decoration: none;
}

/* End Of Side Bar*/

#product-content{
	width: 60%;
	display: inline-block;	
}

#product-list{
list-style-type: none;	
}

.product-row{
	margin-top: 20px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.product-name{
	text-align: center;
	text-decoration: none;
}
.product-price{
	text-align: center;
	text-color: #66CC00;
	font-weight: bold;

}

.product-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.img-responsive{
	min-height: 100px;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	position: relative;
	margin-bottom: 10px;
}

#add_category{
	margin-left: 20px;
}

.product-col {
    padding: 1em;
    border: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    display: inline-block;
}
