<div class="product_form">
<div class="container">
<% @categories.each_slice(3) do |categories| %>
<div class="row">
	<%= categories.each do |cat| %>
		<div class="col">
			<%= cat.name %>
		</div>
	<% end %>
</div>
<% end %>
</div>
</div>