<div class="product_form">
<h1> New Category</h1>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">

<%= form_for @category do |f| %>
	<%= render "shared/error_messages", product: f.object %>
	<%= f.label :name %>
	<%= f.text_field :name, class: "form-control" %>
	<%= f.submit "Add", class: "btn btn-primary form-submit-button" %>
<% end %>

</div>
</div>
</div>
<div>