<div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Add Category</h3>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <%= label_tag "name" %>
                    <%= text_field_tag "name", nil, id: "category_name" %>
                </div>

                <div class="modal-footer"> 
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <%= link_to "Add", "#", class: "btn btn-primary add-category-ajax" %>
                </div>

        
            </div>
            
        </div>
    </div>
</div>