<div class="product_form">
<div id="custom-sidebar" class="sidebar">
	<ul id="nav nav-sidebar" class="category-list" >
		<% @categories.each do |category| %>
			<li>
				<%= link_to category.name, root_path(:cat_type => category.id) %>
			</li>
		<% end %>
	</ul>
</div>

<div id="product-content">
<ul id="product-list">
		<% @products.each_slice(3) do |products| %>
			<div class="row product-row">
				<% products.each do |product| %>
					<div class="col-md-3 col-md-offset-1 product-col">
						<div class="product-image">
							<% if product.photos.present? && product.photos.first.image.present? %>
									<%= link_to image_tag(product.photos.first.image.url(:thumbnail)), product, class: "img-responsive" %>
							<% else %>
									<%= link_to image_tag("/images/thumbnail/missing.png", size: "20*20"), product,class: "img-responsive" %>
							<%end %>
					</div>

					<div class="product-name">
							<%= link_to product.name, product %>
					</div>
					<div class="product-price">
							Rs. <%= product.price %>
					</div>

					</div>
				<% end %>
			</div>
		<% end %>
</ul>
</div>
</div>
