<div class="product_form">
<%= render 'category_modal' %>
<h1> New Product </h1>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
			<%= form_for @product, html: { multipart: true } do |f| %>
				<%= render "shared/error_messages", product: f.object %>

				<div class="form-group">
					<%= f.label :category %>
					<%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true, class: "form-control" %>					
					<%= link_to "Add Category", "#",id: "add-category" %>
				</div>

				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :price %>
					<%= f.text_field :price, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :desc, "Description" %>
					<%=	f.text_area :desc, rows: 5, cols: 30, class: "form-control"  %>
				</div>

				<div class="form-group">
						<%= label_tag "Add Photo" %>
						<%= file_field_tag "image[]", type: :file, multiple: true %>
				</div>

				<div class="form-group">
					<%= f.submit "Add", class: "btn btn-primary form-submit-button" %>
				</div>

			<% end %>
		</div>
	</div>
</div>
</div>