<div class="product_form">
<h3>Name: <%= @product.name %> </h3>
<h3>Price: <%= @product.price %> </h3>

<div>
<% if @product.photos %>
	<% @product.photos.each_slice(3) do |photos| %>
		<div class="row">
		<% photos.each do |p| %>
			<span class="col-md-2 col-md-offset-1">
				<%= image_tag p.image.url(:medium) %>
			</span>
		<% end %>
		</div>
	<% end %>
<% end %>
</div>
<hr>
<h5>Description: <%= @product.desc %> </h5>
</div>