<!DOCTYPE html>
<html>
<head>
  <title>Mycart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  	
  </script>
</head>
<body>
<%= render "shared/header" %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
